/** @format */

@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

body {
  margin: 0;
  font-family: "Signika Negative", sans-serif;
}

.App {
  text-align: center;
}

form div {
  position: relative;
  margin-top: 20px;
}

form div p {
  padding: 0 3px;
  font-weight: 400;
  color: #9c9c9c;
  background-color: white;
}

form div:nth-of-type(1) p {
  margin: 0;
  position: absolute;
  top: -35%;
  left: 30px;
}
form div:nth-of-type(2) p {
  margin: 0;
  position: absolute;
  top: -5%;
  left: 30px;
}
form div:nth-of-type(3) p {
  margin: 0;
  position: absolute;
  top: -35%;
  left: 30px;
}
